# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# SQLite databases
*.db
*.sqlite3
*.sqlite
rag_database.sqlite

# Streamlit
.streamlit/

# Uploaded Files
uploads/
